.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}
.loader:before {
    position: absolute;
    top: 50%;
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid;
    border-color: transparent transparent #F27059 transparent;
    border-radius: 100%;
    animation: 1s spin ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}