.outgoing-line {
    padding: 0 20px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    transition: all .3s ease-in-out 0s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-76px);
}
.outgoing-line.showed-enter-done {
    transform: translateY(0px);
}
.outgoing-line.active {
    transform: translateY(0px);
}
.outgoing-line.showed-exit-done {
    transform: translateY(-100%);
}
.outgoing-line__show {
    color: #F33D41
}
