.not-found {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 348px;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
}
.not-found__button {
    width: 100%;
    background: #f33d41;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    padding: 12px 0;
    max-width: 270px;
    display: block;
    margin: 28px auto;
}