.filter-body__line {
    display: flex;
    align-items: center;
    padding: 18px 0;
    font-weight: 500;
}
.filter-body__line.active {
    color: #f33d41
}
.filter-body__icon {
    margin-right: 20px;
    width: 24px;
}