.photo-gallery-wrapper {
    transform: translateY(100%);
    transition: all .3s ease-in-out 0s;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.95);
    display: flex;
    align-items: center;
}
.photo-gallery {
    width: 100%;
    overflow: hidden;
    height: fit-content;
}
.photo-gallery-wrapper.showed-enter-done, .photo-gallery-wrapper.showed-enter-active {
    transform: translateY(0);
}
.photo-gallery__close {
    position: absolute;
    width: 20px;
    top: 20px;
    left: 20px;
}
.photo-gallery__close img {
    width: 100%;
}
.point-photo--full-gallery {
    max-height: none !important;
}