.item-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-bottom: 18px;
}
.item-header--padding-right {
    padding-right: 55px;
}
.item-header__category {
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
}
.item-header__category:last-child {
    margin-bottom: 0;
}
.item-header__image {
    margin-right: 16px;
    width: 24px;
}
.item-header__title {
    font-size: 16px;
    color: #8e9193;
}
.item-header__categories {
    display: flex;
    flex-direction: column;
}