.search-container {
    text-align: center;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 48px;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    height: 94px;
}
.search-button img {
    width: 25px;
}
.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 14px;
}
.search-button.hidden {
    display: none;
}
.search-input.hidden {
    display: none;
}
.search-input__clear img {
    width: 15px;
}
.search-input__input {
    margin-right: 25px;
}