.filter-body__button {
    width: 100%;
    background: #f33d41;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    padding: 12px 0;
    margin-top: 28px;
}