.item-header__sale {
    background: #F33D41;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 56px;
    height: 30px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: -16px;
}
.item-header__sale:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 15px 0 15px 9px;
    border-color: #F33D41 transparent;
    left: -9px;
    top: 0;
}