.point-photo-wrapper {
    position: relative;
}
.point-photo {
    width: 100%;
    max-height: 235px;
    height: calc(100vh / 2);
    object-fit: cover;
}
.back-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.back-button__icon {
    width: 12px;
}
