.point-info {
    margin-left: 16px;
    padding: 16px 16px 16px 0;
    position: relative;
}
.point-info:before {
    content: "";
    width: calc(100% + 16px);
    height: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: -12px;
    left: -16px;
    background: #fff;
}
.info-line {
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    padding: 20px 16px;
}
.info-line__icon {
    margin-right: 16px;
    width: 20px;
}
.info-line__value {
    color: inherit;
    word-wrap: break-word;
}
.info-line__value--link {
    word-break: break-all;
}
.point-detail-wrapper {
    background: #fff;
}