.points-list {
    min-height: 100vh;
    position: relative;
}
.list-items {
    background: #fff;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    /*padding-top: 31px;*/
    /*box-shadow: 0 0 12px rgba(0,0,0,.1);*/
}