.list-item {
    margin-left: 16px;
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid #D9D9D9
}
.item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item:last-child {
    border-bottom: none;
}