.top-card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    max-width: 343px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.top-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.top-card__face, .top-card__back {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
}
.top-card__back {
    transform: rotateY( 180deg );
}
.top-decorate {
    position: absolute;
    bottom: -33px;
    left: calc(50% - 28px)
}