.favorite-button {
    box-sizing: border-box;
    position: absolute;
    background: #ffffff;
    width: 50px;
    height: 50px;
    padding: 14px 11px 11px 11px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 26px;
    right: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.favorite-button img {
    width: 100%;
}