.filter {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    z-index: 99;
    color: #383D41;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 27px 20px;
    transition: all .4s ease-in-out 0s;
}
.filter.showed-enter-done {
    transform: translateY(0);
}
.filter.showed-enter-active {
    transform: translateY(0);
}
.filter-header {
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
}
.filter-header__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
}
.filter-body {
    height: calc(100% - 50px);
    overflow-y: scroll;
}
