.home-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content {
    width: 100%;
    text-align: center;
}
.home-content__logo {
    max-width: 150px;
    margin-bottom: 30px;
}
.home-content__link {
    display: block;
    font-size: 32px;
    font-family: 'Yeseva One', cursive;
    color: #383D41;
}
.rating {
    width: 120px;
    display: flex;
    justify-content: flex-end;
}