.info-line {
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    padding: 20px 16px;
}
.info-line__icon {
    margin-right: 16px;
    width: 20px;
}
.info-line__value {
    color: inherit;
}
.mini-loader {
    margin: 0 0 0 7px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid #f1ddde;
    border-right: 2px solid #f1ddde;
    border-bottom: 2px solid #f1ddde;
    border-left: 2px solid #f33d41;
    -webkit-animation: load8 .5s infinite linear;
    animation: load8 .5s infinite linear;
}
.mini-loader,
.mini-loader:after {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
