* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #64686A;
    background: #F0F0F0;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-bottom: 15px;
}

.default-input {
    padding: 8px 12px;
    width: 100%;
    max-width: 230px;
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,.2);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}